.catalog-title h2{
	line-height: 42px;
	font-size: 28px;
	color: #000000;
	margin: 50px 0 0 0;
}
.catalog-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.catalog-wrapper-item{
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
}
.catalog-item{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 195px;
	height: 200px;
	background: #FFFFFF;
	margin: 0 25px 25px 0;
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
}

.catalog-item a{
	position: absolute;
	width: 100%;
	height: 100%;
}
.catalog-item img{
	margin-top: 15px;
}
.catalog-item p{
	line-height: 30px;
	font-size: 16px;
	text-align: center;
	margin: 20px 0;
	color: #000000;
	font-family: 'DINPro-Medium';
}
@media only screen and (max-width: 560px){
	.catalog-wrapper{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.catalog-wrapper-item{
		justify-content: center;
	}
	.sidebar-news{
		display: flex;
		align-items: center;
		justify-content: center;
	}
}